// This is where you can import other stylesheets or write your scss code
// @import "../../node_modules/bootstrap/scss/bootstrap";

nav {
    li {
        list-style-type: none;
        padding: 5px 10px;
        margin: 5px;
    }

    a {
        text-decoration: none;
        border: 1px solid red;
        border-radius: 5px;
        padding: 5px 10px;
    }
} 

// SCSS Variable

// Global Scope
:root {
    // -- name : value
    --orange:#fb923c;
    --green:#3f6212;
}

h2 {
    border-bottom: 2px solid var(--green);
}

button {
    background-color: var(--orange);
    border-radius:5px ;
    // border: 2px solid var(--orange);
    padding: 1rem;
}

// Local Scope
button {
    --button-blue : #1e40ef;
    color: var(--button-blue);
    border: 1px solid var(--button-blue);
}

// var(--[name]:[fallback])
.box {
    background: var(--c,#cccc);
}
.special {
    --c:#14b8a6;
}




// SASS Variable
$myColor: #2563eb;

$myFont: sans-serif;

$myFontSize: 1.5rem;

$myWidth:500px;

.container {
    font-family: $myFont;
    font-size: $myFontSize;
    color: $myColor;
    width: $myWidth;
}

// mixins partial extend

// Sass map

$colors : (
    main:red,
    secondary: green,
);

$border-default: 10px dotted map-get($colors,main);

.myClass {
    border-bottom: $border-default;
}

