// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";

nav {
    li {
        list-style-type: none;
        padding: 5px 10px;
        margin: 5px;
    }

    a {
        text-decoration: none;
        border: 1px solid red;
        border-radius: 5px;
        padding: 5px 10px;
    }

    
}
